# build output
dist/

# generated types
.astro/

# dependencies
node_modules/
bolt_project/node_modules/
bolt_project/src/.vscode/
bole_project/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

package-lock.json
playwright-report/*
test-results/*
*.png
.env*

# Local Netlify folder
.netlify
